{% include "navbar.html" %}
<html>

<head>
    <title>register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: gray;
        }
    </style>
</head>

<body>
    {% block content %}
    <div class="contain">
        <div class="head">
            <h2>User Register</h2>
        </div>
        <div class="frm">
            <form method=" POST " autocomplete="off">
                {% csrf_token %}
                <div class="form-group">
                    <label><b>Username :</b></label><br>
                    <input type="text" placeholder="Username" name="username"><br>
                </div>
                <div class="form-group">
                    <label autocomplete="off"><b>Email :</b></label><br>
                    <input type="email" placeholder="email" name="email"><br>
                </div>
                <div class="form-group">
                    <label><b>Password :</b></label><br>
                    <input type="password" placeholder="password" name="password"><br>
                </div>
                <div class="form-group">
                    <label><b>Confirm Password :</b></label><br>
                    <input type="password" placeholder="confirm password" name="confirm_password"><br><br>
                </div>
                <div class="form-group"><button type="submit"><b>Register</b></button></div>
            </form><br>
            <p>already have account ? <a href="{% url 'login'%}"> LOG IN</a> </p>
        </div>

    </div>

    {% endblock %}
</body>

</html>